In [ ]:
print("\nQuestion 50: Check if string is a valid credit card number: '4532015112830366'")

def luhn_check(card_number):
    def digits_of(n):
        return [int(d) for d in str(n)]
    digits = digits_of(card_number)
    checksum = 0
    # Double every second digit from the right
    odd_digits = digits[-1::-2]
    even_digits = digits[-2::-2]
    checksum += sum(odd_digits)
    for d in even_digits:
        checksum += sum(digits_of(d*2))
    return checksum % 10 == 0

card_number = "4532015112830366"
print("Valid credit card number" if luhn_check(card_number) else "Invalid credit card number")

# New Section

In [ ]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")
# Your code here
print("Question 1: Create a list of first 10 square numbers")
squares = [i**2 for i in range(1, 11)]
print(squares)

Question 1: Create a list of first 10 square numbers
Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
print("Question 1: Create a list of first 10 square numbers")
squares = [i**2 for i in range(1, 11)]
print(squares)
Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

SyntaxError: invalid syntax (ipython-input-3163735871.py, line 4)

In [ ]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
original_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
# Using a set to remove duplicates, then converting back to list
unique_list = list(set(original_list))
print(unique_list)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
# Your code here
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
lst = [64, 34, 25, 12, 22, 11, 90]
lst.sort(reverse=True)
print(lst)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
[90, 64, 34, 25, 22, 12, 11]

In [ ]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
# Your code here
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
numbers = [15, 23, 31, 42, 56, 78, 91]
average = sum(numbers) / len(numbers)
print(average)

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
48.0

In [ ]:
# Question 6: Create a list of first 15 Fibonacci numbers
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
# Your code here
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
fib = [0, 1]
for _ in range(2, 15):
    fib.append(fib[-1] + fib[-2])
print(fib)

Question 6: Create a list of first 15 Fibonacci numbers

Question 6: Create a list of first 15 Fibonacci numbers
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
# Your code here
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
numbers = [45, 67, 23, 89, 12, 34, 78]
unique_numbers = list(set(numbers))
unique_numbers.sort()
second_largest = unique_numbers[-2]
print(second_largest)

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
78

In [ ]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reversed_lst = lst[::-1]
print(reversed_lst)

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
lst = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count_5 = lst.count(5)
print(count_5)

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
4

In [ ]:
# Question 10: Create a list of prime numbers between 1 and 50
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
# Your code here
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")

def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3, int(n**0.5) + 1, 2):
        if n % i == 0:
            return False
    return True

primes = [num for num in range(1, 51) if is_prime(num)]
print(primes)

Question 10: Create a list of prime numbers between 1 and 50

Question 10: Create a list of prime numbers between 1 and 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [11]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [item for sublist in nested_list for item in sublist]

print("Flattened list:", flattened_list)

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
# Your code here
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = list(set(list1) & set(list2))

print("Common elements:", common_elements)

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
Common elements: [4, 5]

In [13]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
# Your code here
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")

list_of_lists = [[1, 2], [3, 4], [5, 6]]

print("List of lists:", list_of_lists)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
List of lists: [[1, 2], [3, 4], [5, 6]]

In [14]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sums = [sum(sublist) for sublist in nested_list]

print("Sum of each sublist:", sums)

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Sum of each sublist: [6, 15, 24]

In [15]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = [list(row) for row in zip(*matrix)]

print("Transposed matrix:", transposed)

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transposed matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [16]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")
# Your code here
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")

nested_list = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_values = [max(sublist) for sublist in nested_list]

print("Maximum values in each sublist:", max_values)

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
Maximum values in each sublist: [5, 9, 8]

In [17]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
# Your code here
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")

three_d_list = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

print("3D list:", three_d_list)

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [18]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
# Your code here
print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")

three_d_list = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total_sum = sum(num for sublist1 in three_d_list for sublist2 in sublist1 for num in sublist2)

print("Sum of all elements:", total_sum)

Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
Sum of all elements: 36

In [19]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
even_numbers = [num for sublist in nested_list for num in sublist if num % 2 == 0]

print("Even numbers:", even_numbers)

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Even numbers: [2, 4, 6, 8]

In [20]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")
# Your code here
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")

mixed_list = [1, "hello", 3.14, True, [1, 2, 3]]

print("Mixed data type list:", mixed_list)

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
Mixed data type list: [1, 'hello', 3.14, True, [1, 2, 3]]

In [21]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
# Your code here
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")

fruits = ["apple", "banana", "cherry", "date"]
lengths = [len(fruit) for fruit in fruits]

print("Lengths of each string:", lengths)

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
Lengths of each string: [5, 6, 6, 4]

In [22]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")

list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]

print("List of tuples:", list_of_tuples)

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
List of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

In [23]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")

tuple_list = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elements = [t[0] for t in tuple_list]

print("First elements:", first_elements)

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
First elements: [1, 2, 3]

In [24]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")
# Your code here
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")

people = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

print("List of dictionaries:", people)

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
List of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [25]:
# Question 25: Extract all 'name' values from list of dictionaries
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")
# Your code here
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")

people = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
names = [person['name'] for person in people]

print("Names:", names)

Question 25: Extract all 'name' values from list of dictionaries

Question 25: Extract all 'name' values from list of dictionaries
Names: ['Alice', 'Bob']

In [26]:
# Question 26: Find the person with maximum age in list of dictionaries
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")
# Your code here
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")

people = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
oldest_person = max(people, key=lambda person: person['age'])

print("Person with maximum age:", oldest_person)

Question 26: Find the person with maximum age in list of dictionaries

Question 26: Find the person with maximum age in list of dictionaries
Person with maximum age: {'name': 'Bob', 'age': 30}

In [27]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print("\nQuestion 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]")
print("\nQuestion 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]")

four_d_list = [
    [  # First 3D block
        [[1, 2], [3, 4]],
        [[5, 6], [7, 8]]
    ],
    [  # Second 3D block
        [[9, 10], [11, 12]],
        [[13, 14], [15, 16]]
    ]
]

print("4D list:", four_d_list)

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [28]:
# Question 28: Find the maximum value in 4D list
print("\nQuestion 28: Find the maximum value in 4D list")
# Your code here
print("\nQuestion 28: Find the maximum value in 4D list")

four_d_list = [
    [  # First 3D block
        [[1, 2], [3, 4]],
        [[5, 6], [7, 8]]
    ],
    [  # Second 3D block
        [[9, 10], [11, 12]],
        [[13, 14], [15, 16]]
    ]
]

# Flatten and find max
max_value = max(num for block3d in four_d_list
                    for block2d in block3d
                    for block1d in block2d
                    for num in block1d)

print("Maximum value in 4D list:", max_value)

Question 28: Find the maximum value in 4D list

Question 28: Find the maximum value in 4D list
Maximum value in 4D list: 16

In [29]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")
# Your code here
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")

list_of_sets = [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

print("List of sets:", list_of_sets)

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
List of sets: [{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [30]:

# Question 30: Find the union of all sets in list of sets
print("\nQuestion 30: Find the union of all sets in list of sets")
# Your code here
print("\nQuestion 30: Find the union of all sets in list of sets")

list_of_sets = [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
union_set = set().union(*list_of_sets)

print("Union of all sets:", union_set)

Question 30: Find the union of all sets in list of sets

Question 30: Find the union of all sets in list of sets
Union of all sets: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
print("\nQuestion 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]")
# Your code here
print("\nQuestion 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]")

complex_list = [1+2j, 3+4j, 5+6j]

print("List of complex numbers:", complex_list)

Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]

Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
List of complex numbers: [(1+2j), (3+4j), (5+6j)]

In [32]:
# Question 32: Find the magnitude of each complex number in list
print("\nQuestion 32: Find the magnitude of each complex number in list")
# Your code here
print("\nQuestion 32: Find the magnitude of each complex number in list")

complex_list = [1+2j, 3+4j, 5+6j]
magnitudes = [abs(num) for num in complex_list]

print("Magnitudes of complex numbers:", magnitudes)

Question 32: Find the magnitude of each complex number in list

Question 32: Find the magnitude of each complex number in list
Magnitudes of complex numbers: [2.23606797749979, 5.0, 7.810249675906654]

In [33]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]")
print("\nQuestion 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]")

nested_list = [1, [2, 3], [4, [5, 6]], 7]

print("Nested list:", nested_list)

Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]

Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
Nested list: [1, [2, 3], [4, [5, 6]], 7]

In [34]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]")
# Your code here
print("\nQuestion 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]")

def count_depth(lst):
    if not isinstance(lst, list):
        return 0
    elif not lst:
        return 1
    else:
        return 1 + max(count_depth(item) for item in lst)

nested_list = [1, [2, 3], [4, [5, 6]], 7]
depth = count_depth(nested_list)

print("Depth of nesting:", depth)

Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]

Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
Depth of nesting: 3

In [35]:
# Question 35: Create a list of functions: [len, str, int, float]
print("\nQuestion 35: Create a list of functions: [len, str, int, float]")
# Your code here
print("\nQuestion 35: Create a list of functions: [len, str, int, float]")

functions_list = [len, str, int, float]

print("List of functions:", functions_list)

# Example usage:
print("len('hello'):", functions_list[0]("hello"))
print("str(123):", functions_list )
print("int('456'):", functions_list[2]("456"))
print("float('3.14'):", functions_list[3]("3.14"))

Question 35: Create a list of functions: [len, str, int, float]

Question 35: Create a list of functions: [len, str, int, float]
List of functions: [<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]
len('hello'): 5
str(123): [<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]
int('456'): 456
float('3.14'): 3.14

In [36]:
# Question 36: Apply each function in list to string "123"
print("\nQuestion 36: Apply each function in list to string '123'")
# Your code here
print("\nQuestion 36: Apply each function in list to string '123'")

functions_list = [len, str, int, float]
input_str = "123"

results = [func(input_str) for func in functions_list]

print("Results of applying each function:", results)

Question 36: Apply each function in list to string '123'

Question 36: Apply each function in list to string '123'
Results of applying each function: [3, '123', 123, 123.0]

In [37]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
print("\nQuestion 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]")
# Your code here
print("\nQuestion 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]")

lambda_functions = [
    lambda x: x * 2,
    lambda x: x ** 2,
    lambda x: x + 1
]

print("List of lambda functions:", lambda_functions)

# Example usage:
for func in lambda_functions:
    print(func(5))

Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]

Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
List of lambda functions: [<function <lambda> at 0x7a0985c24040>, <function <lambda> at 0x7a0985c24900>, <function <lambda> at 0x7a0985c24b80>]
10
25
6

In [38]:
# Question 38: Apply each lambda function to 5
print("\nQuestion 38: Apply each lambda function to 5")
# Your code here
print("\nQuestion 38: Apply each lambda function to 5")

lambda_functions = [
    lambda x: x * 2,
    lambda x: x ** 2,
    lambda x: x + 1
]

results = [func(5) for func in lambda_functions]

print("Results:", results)

Question 38: Apply each lambda function to 5

Question 38: Apply each lambda function to 5
Results: [10, 25, 6]

In [39]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
print("\nQuestion 39: Create a list of classes: [list, dict, set, tuple]")
# Your code here
print("\nQuestion 39: Create a list of classes: [list, dict, set, tuple]")

classes_list = [list, dict, set, tuple]

print("List of classes:", classes_list)

Question 39: Create a list of classes: [list, dict, set, tuple]

Question 39: Create a list of classes: [list, dict, set, tuple]
List of classes: [<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [40]:
# Question 40: Create instances of each class in list
print("\nQuestion 40: Create instances of each class in list")
# Your code here
print("\nQuestion 40: Create instances of each class in list")

classes_list = [list, dict, set, tuple]

# Create instances using default constructors
instances = [cls() for cls in classes_list]

print("Instances of each class:", instances)

Question 40: Create instances of each class in list

Question 40: Create instances of each class in list
Instances of each class: [[], {}, set(), ()]

In [41]:
# Question 41: Create a list of None values: [None, None, None, None]
print("\nQuestion 41: Create a list of None values: [None, None, None, None]")
# Your code here
print("\nQuestion 41: Create a list of None values: [None, None, None, None]")

none_list =_

Question 41: Create a list of None values: [None, None, None, None]

Question 41: Create a list of None values: [None, None, None, None]

In [42]:
# Question 42: Replace all None values with 0 in list
print("\nQuestion 42: Replace all None values with 0 in list")
# Your code here
print("\nQuestion 42: Replace all None values with 0 in list")

none_list = [None, None, None, None]
replaced_list = [0 if x is None else x for x in none_list]

print("List after replacement:", replaced_list)

Question 42: Replace all None values with 0 in list

Question 42: Replace all None values with 0 in list
List after replacement: [0, 0, 0, 0]

In [43]:
# Question 43: Create a list of boolean values: [True, False, True, False]
print("\nQuestion 43: Create a list of boolean values: [True, False, True, False]")
# Your code here
print("\nQuestion 43: Create a list of boolean values: [True, False, True, False]")

bool_list = [True, False, True, False]

print("List of boolean values:", bool_list)

Question 43: Create a list of boolean values: [True, False, True, False]

Question 43: Create a list of boolean values: [True, False, True, False]
List of boolean values: [True, False, True, False]

In [44]:
# Question 44: Count True values in boolean list
print("\nQuestion 44: Count True values in boolean list")
# Your code here
print("\nQuestion 44: Count True values in boolean list")

bool_list = [True, False, True, False]

true_count = sum(bool_list)

print("Number of True values:", true_count)

Question 44: Count True values in boolean list

Question 44: Count True values in boolean list
Number of True values: 2

In [45]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]
print("\nQuestion 45: Create a list of ranges: [range(3), range(5), range(2)]")
# Your code here
print("\nQuestion 45: Create a list of ranges: [range(3), range(5), range(2)]")

ranges_list = [range(3), range(5), range(2)]

print("List of ranges:", ranges_list)

# To display the actual numbers in each range:
for r in ranges_list:
    print(list(r))

Question 45: Create a list of ranges: [range(3), range(5), range(2)]

Question 45: Create a list of ranges: [range(3), range(5), range(2)]
List of ranges: [range(0, 3), range(0, 5), range(0, 2)]
[0, 1, 2]
[0, 1, 2, 3, 4]
[0, 1]

In [46]:
# Question 46: Convert each range to list
print("\nQuestion 46: Convert each range to list")
# Your code here
print("\nQuestion 46: Convert each range to list")

ranges_list = [range(3), range(5), range(2)]

lists_from_ranges = [list(r) for r in ranges_list]

print("Converted lists:", lists_from_ranges)

Question 46: Convert each range to list

Question 46: Convert each range to list
Converted lists: [[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [47]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
print("\nQuestion 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]")
# Your code here
print("\nQuestion 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]")

generators_list = [(x for x in range(3)), (x for x in range(5))]

print("List of generators:", generators_list)

# To see the values generated, you can convert them to lists:
for i, gen in enumerate(generators_list, 1):
    print(f"Generator {i} output:", list(gen))

Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]

Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
List of generators: [<generator object <genexpr> at 0x7a0996870640>, <generator object <genexpr> at 0x7a0985da9240>]
Generator 1 output: [0, 1, 2]
Generator 2 output: [0, 1, 2, 3, 4]

In [48]:
# Question 48: Convert each generator to list
print("\nQuestion 48: Convert each generator to list")
# Your code here
print("\nQuestion 48: Convert each generator to list")

generators_list = [(x for x in range(3)), (x for x in range(5))]

converted_lists = [list(gen) for gen in generators_list]

print("Converted lists from generators:", converted_lists)

Question 48: Convert each generator to list

Question 48: Convert each generator to list
Converted lists from generators: [[0, 1, 2], [0, 1, 2, 3, 4]]

In [49]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
print("\nQuestion 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]")
# Your code here
print("\nQuestion 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]")

iterators_list = [iter([1, 2, 3]), iter([4, 5, 6])]

print("List of iterators:", iterators_list)

# To see the values from each iterator, convert them to lists:
for i, it in enumerate(iterators_list, 1):
    print(f"Iterator {i} output:", list(it))

Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]

Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
List of iterators: [<list_iterator object at 0x7a0985beb1f0>, <list_iterator object at 0x7a0985bea2f0>]
Iterator 1 output: [1, 2, 3]
Iterator 2 output: [4, 5, 6]

In [50]:
# Question 50: Extract all elements from each iterator
print("\nQuestion 50: Extract all elements from each iterator")
print("\nQuestion 50: Extract all elements from each iterator")

iterators_list = [iter([1, 2, 3]), iter([4, 5, 6])]

extracted_elements = [list(it) for it in iterators_list]

print("Extracted elements from each iterator:", extracted_elements)

Question 50: Extract all elements from each iterator

Question 50: Extract all elements from each iterator
Extracted elements from each iterator: [[1, 2, 3], [4, 5, 6]]